<div class="commentBlock firstLevel">


	<div class="commentHeading">
		<h3><%= comment.userName %></h3>
	</div>
	<div class="comment">
		<h4><%= comment.text %></h4>
	</div>
	<div class="commentBtns collapse show" id="addCommentCollapse-<%= comment.id %>">
		<form action="/comments/likeComment/<%= comment._id %>?_method=PUT" method="POST">
			<button type="submit" class="fa-solid fa-thumbs-up">
				<% if(comment.likes != 0) { %>
					<i> <%= comment.likes %></i>
				<%}%> 
			</button>
		</form>
		<% if( depth < 3 ) { %>
			<button class="fa-solid fa-reply replyToComment collapsed" type="button" data-bs-toggle='collapse' data-bs-target="#addCommentCollapse-<%= comment.id %>"></button>
		<% } %>
	</div>

	<div class="replySection collapse" id="addCommentCollapse-<%= comment.id %>">
		<form action="/comments/createComment/<%=post.id%>/<%=comment.id%>" method="POST">
			<input type="text" placeholder="replying to: <%= comment.userName %>" name="commentInput">
			<button class="fa-solid fa-reply"></button>
			<button type="button" class="fa-solid fa-x"  data-bs-toggle='collapse' data-bs-target="#addCommentCollapse-<%= comment.id %>"></button>
		</form>
	</div>

	<div id="replies">

		<%= console.log(comment.comments) %>

		<% for (const subComment of comment.comments || []) { %>
	
		<%- include('comments', {post, user, comment: subComment, depth: depth + 1}) -%>
			
		<%}%>
	</div>
</div>
