<%- include('partials/header') -%>

        <!-- This file css -->
        <link rel="stylesheet" href="/css/post.css">

    </head>
    <body>
        
        <div id="dark"></div>

        <!-- Nav and sidebar -->
        <nav>
            <div id="topBar">
                <a href="/"><i><img src="images/logo.svg" alt=""></i></a>
                <h2>Friver</h2>
                <button class="menu"  aria-label="Main Menu">
                <svg width="100" height="100" viewBox="0 0 100 100">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
              </button>
            </div>
            <div id="sidebarMenu">
                <ul class="sidebarMenuInner">
                    <a href="/qrCode"><li>My QR Code</li></a>
                    <a href="/profile"><li>Profile Preview</li></a>
                    <a href="/logout"><li>Log Out</li></a>
                </ul>
            </div>
        </nav>

        <main class="container">

            <!-- add comment form -->

            <form action="/comments/createComment/<%=post._id%>" id="addComment" class="hide" method="POST">
                <div class="buttons">
                    <h3>Replying to: <i><%= post.userName %></i></h3>
                    <div>
                        <button type="button" class="cancel">Cancel</button>                
                        <button class="Reply">Reply</button>  
                    </div>               
                </div>
                <textarea name="commentInput" id="commentInput" autofocus cols="30" rows="5" placeholder="Add comment"></textarea>
             </form>

            <section id="post">

                <div id="<%= post._id %>" class="post">

                    <div class="goBackDiv">
                         <a href="/feed#<%= post._id  %>"><button id="goBack" class="fa-solid fa-chevron-left"></button></a>
                    </div>

                    <h3 class="postUserName"><%= post.userName %></h3>
                    <h2 class="postTitle"><%= post.title %></h2>
                    <p class="postCaption"><%= post.caption %></p>
                    <img src="<%= post.image %>" alt="">
                    <div class="buttons">
                        <%= console.log(post._id) %>
                        <form action="/feed/likePost/<%= post._id %>?_method=PUT" method="POST">
                            <button type="submit" class="fa-solid fa-thumbs-up">
                                <% if(post.likes != 0) { %>
                                    <i> <%= post.likes %> </i>
                                <%}%> 
                            </button>
                        </form>
                        <button class="fa-regular fa-comment commentBtn"></button>
                        <button class="fa-solid fa-share"></button>
                    </div>
                </div>

                <section id="comments">

                    <h3>Comments</h3>

                    <% comments.forEach(comment => { %>
                    
                    <div id="commentBlock">
                        <div class="commentHeading">
                            <h3><%= comment.userName %></h3>
                        </div>
                        <div class="comment">
                            <h4><%= comment.comment %></h4>
                        </div>
                        <div class="commentBtns">
                            <form action="/comments/likeComment/<%= comment._id %>?_method=PUT" method="POST">
                                <button type="submit" class="fa-solid fa-thumbs-up">
                                    <% if( comment.likes != 0) { %>
                                        <i> <%= comment.likes %> </i>
                                    <%}%> 
                                </button>
                            </form>
                        </div>
                    </div>

                    <% }) %>

                </section>

            </section>

        </main>

<%- include('partials/footer') -%>