<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Hire A Driver</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

        <!-- Resets -->
        <link rel="stylesheet" href="/css/default/reset.css">
        <link rel="stylesheet" href="/css/default/style.css">

        <!-- componenets -->
        <link rel="stylesheet" href="/css/components/navBar.css">

        <!-- This file css -->
        <link rel="stylesheet" href="/css/profile.css">

    </head>
    <body>
        
        <div id="dark"></div>

        <!-- Nav and sidebar -->
        <nav>
            <div id="topBar">
            <i>Logo</i>
            <h2>Friver</h2>
            <button class="menu"  aria-label="Main Menu">
                <svg width="100" height="100" viewBox="0 0 100 100">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
              </button>
            </div>
            <div id="sidebarMenu">
                <ul class="sidebarMenuInner">
                    <a href="/"><li>Home</li></a>
                    <a href="/logout"><li>Log out</li></a>
                    <a href="/qrCode"><li>My QR Code</li></a>
                </ul>
            </div>
        </nav>

        <main>

            <% if(user.id == profile.userID) { %>
            <%= console.log(user.id, profile.userID) %>
            <div class="heading">
                <h2>Profile Preview</h2>
                <i class="fa-solid fa-pen-to-square editBtn"></i>
            </div>
            <%}%>

            <header>
                <div>
                    <img src="<%= profile.image %>" alt="Profile Picture">
                    <h3><%= profile.userName %></h3>
                </div>
            </header>

            <section class="gigs">
                <ul>

                    <% profile.skills.forEach( skill => { %>
                        <li><i class="fa-solid fa-square-full"></i><%= skill %></li>
                    <%})%>
                    
                </ul>
            </section>

            <section class="aboutMe">
                <h2>About Me</h2>
                <p><%= profile.description %></p>
            </section>

            <section class="contact">
                <h2>Contact me for my services</h2>

                <% if(profile.email) { %>
                    <h3>Email: <a href="mailto:<%= profile.email %>"><%= profile.email %></a></h3>
                <%}%>

                <% if(profile.phoneNumber) { %>
                    <h3>Number: <a href="tel:<%= profile.phoneNumber %>"><%= profile.phoneNumber %></a></h3>
                <%}%>

                <% if(profile.website) { %>
                <h3>Website: <a href="<%= profile.website %>"><%= profile.website %></a></h3>
                <%}%>
            </section>
        </main>

        <footer>
            <h3>&#9400 2022 Erick Alonso. All rights reserved. Design: Erick Alonso</h3>
        </footer>    
        
        <!-- scripts -->
        <script src="https://kit.fontawesome.com/d5ce7117b5.js" crossorigin="anonymous"></script>
        <script src="/js/buttons.js"></script>
        <script src="/js/skillList.js"></script>
    </body>
</html>